.VideoPage {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: 3rem;
}

.videoTitle {
}

.videoAuthor {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.videoAuthorIcon {
    float: left;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoAuthor .vidButtons {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}
.videoDesc {
    background: var(--ui-bg-color);
    border-radius: 1rem;
    padding: 1rem;
}
.videoDesc h4 {
    font-size: 0.8rem;
}
.videoDesc p {
    margin-top: 1rem;
}

.videoComments {

}