* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
/* CSS Variables */
:root {
    --main-color: rgb(230,230,230);
    --body-bg-color: rgb(20,20,20);
    --navbar-bg-color: rgb(40,40,40);
    --ui-bg-color: rgb(50,50,50);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
    color: var(--main-color);
}

html, body, #root { width: 100%; height: 100%; } /* APP FILLS THE ENTIRE SCREEN */

a {
    text-decoration: none;
    color: var(--main-color);
}

