* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
/* CSS Variables */
:root {
    --main-color: rgb(230,230,230);
    --navbar-bg-color: rgb(40,40,40);
    --ui-bg-color: rgb(50,50,50);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(20,20,20);
    color: var(--main-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}
